:root {
  --bs-primary: #344e41 !important;
}

body {
  background-color: #dad7cd !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: bold;
}


h2 {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 200;
  font-style: light;
  /* font-size: 3rem !important; */
}
p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.top {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40rem;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 40px;
  justify-content: center;
  text-align: center;
  place-items: center;
}

.cards {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: #a3b18a;
  padding: 3rem;
  row-gap: 10px;
  column-gap: 10px;
  width: 100%;
}

.credits, button{
  backdrop-filter: blur(5px);
  color: white;
  border-radius: 1em;
  grid-row-start: 3;
  margin: 1rem;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 1em !important;
  padding: 10px;
}

.title {
  color: white;
  grid-row-start: 2;
  grid-column-start: 2;
  backdrop-filter: blur(5px);
  border: 1px solid white;
  border-radius: 1em;
  padding: 30px;
}

.about {
  display: flex;
  width: 100%;
  height: 40rem;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: stretch;
}

.about_pic {
  background-image: url("/assets/images/michael-payne-a9NQ6z1zqro-unsplash.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50%;
}

.about_side {
  width: 50%;
  text-align: center;
  place-items: center;
}

a:link {
  color: #dad7cd;
}

 a:visited a:not(nav){
  color: green;
}

a:hover a:not(nav){
  color: #a3b18a;
}
a:active a:not(nav){
  color: #588157;
}

button {
  background-color: #344e41;
}
button:hover {
  background-color: #588157;
}

#home {
  background-image: url("/assets/images/angel-luciano-zTGzwYKXC-A-unsplash.jpg");
}

#about {
  background-image: url("/assets/images/matthew-cabret-ub1sSvJ_Tbs-unsplash.jpg");
}

#animals {
  background-image: url("/assets/images/mediaecke-p1lk9YM8ZEA-unsplash.jpg");
}

#events {
  background-image: url("/assets/images/seri-FZSRIRSnxZo-unsplash.jpg");
}