:root {
  --bs-primary: #344e41 !important;
}
html {
  font-size: 16px;
}
body {
  background-color: #dad7cd !important;
}

#home_background {
  background-image: url("../assets/images/simone-dinoia-KTSltbcHlfQ-unsplash.jpg");
  background-attachment: fixed;
}

footer {
  background-color: #dad7cd;
  border-top: 1px solid black;
  margin-bottom: 0.5rem;
}

h1 {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: bold;
}


h2 {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 200;
  font-style: light;
  font-size: 40rem;
}

h4 {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 100;
  font-style: light;
}

p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

nav {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2rem;
}

.navbar-brand {
  font-size: 1.3rem;
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: bold;
}

.navbar-brand img {
  width: 2rem;
}

.top {
  height: 30rem;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 2rem;
  padding: 1rem;
  text-align: center;
  place-items: center;
}

.credits,
.btn {
  margin: 1rem;
  font-size: 1em;
}

.top .credits {
  grid-row-start: 3;
  grid-column-start: 2;
}

.credits:hover {
  animation: more-blur 3s forwards;
}

@keyframes more-blur {
  from {
    backdrop-filter: blur(2px);
  }

  to {
    background-color: #344e41;
  }
}

.title {
  grid-row-start: 2;
  grid-column-start: 2;
}

.frame {
  backdrop-filter: blur(3px);
  color: white !important;
  padding: 0.8rem;
  border: 0.1rem solid white !important;
  border-radius: 1rem !important;
  background-color: rgba(58, 90, 64, .5);
  background-blend-mode: multiply;
}

.background_image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cards {
  margin: auto;
  padding: 1rem 3rem;
  row-gap: 0.8rem;
  column-gap: 0.8rem;
  width: 100%;
}

.home_about {
  width: 100%;
}

.home_about_pic .credits,
.about_image .credits {
  align-self: flex-end;
}

.home_about_pic {
  background-image: url("../assets/images/michael-payne-a9NQ6z1zqro-unsplash.jpg");
}

.home_visit {
  padding: 10vh !important;
  backdrop-filter: blur(2px);
}

.home_about_side,
.home_about_pic {
  width: 50%;
  background-color: #dad7cd;
  padding: 1rem;
}

.home_about_side,
.home_visit {
  display: grid;
  place-items: center;
}

.btn {
  background-color: #344e41 !important;
  padding: 1rem !important;
}

.btn:hover {
  background-color: #588157 !important;
}


#about {
  background-image: url("../assets/images/matthew-cabret-ub1sSvJ_Tbs-unsplash.jpg");
}

#animals {
  background-image: url("../assets/images/mediaecke-p1lk9YM8ZEA-unsplash.jpg");
}

#visit {
  background-image: url("../assets/images/seri-FZSRIRSnxZo-unsplash.jpg");
}

.flex {
  display: flex;
  justify-content: center;
  text-align: center;
  place-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.frame a:link {
  color: white;
}

.frame a:visited {
  color: #dad7cd;
}

a:hover{
  color: orange !important;
}
.frame a:active {
  color: #3a5a40;
}

.table_image {
  width: 10rem;
  border-radius: 1em !important;
}

.animals_table {
  margin: 2rem;
}

.home_title {
  margin: 2rem 20svw;
}

.visit_map {
  height: 50dvh;
  width: 50dvw;
}

.about {
  display: grid;
  grid-template-columns: 0.7fr 1.6fr 0.7fr;
  padding: 1rem;
  text-align: center;
  place-items: center;
}

#right {
  background-image: url("../assets/images/seri-FZSRIRSnxZo-unsplash.jpg");
}

#left {
  background-image: url("../assets/images/uriel-soberanes-uYcEkcREK7E-unsplash.jpg");
}

.about_image {
  height: 100%;
  width: 100%;
}

.about_paragraph {
  padding: 1rem;
  text-align: left;
}

.active {
  font-weight: 500 !important;
  font-style: bold !important;
}
